.skillsPage {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 3rem;
}

.skillsTitle {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 600;
}
.skills {
  width: 100%;
  height: 100%;
  background: #1f2428;
  border-radius: 0.5rem;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
}
.skillsimg {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 2rem;
}

.certsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 25rem));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 2rem;
}

.certs {
  width: 100%;
  height: 100%;
}

.certsimg {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.5);
}
